{% extends 'main/layout.html' %}

{% block title %}ClientInfo{% endblock %}

{% block content %}
    <div class="features">
        <h1>История обращений</h1>
    </div>
    <table border="1">
        <tr>
            <th>Адрес</th>
            <th>Возраст</th>
            <th>Номер телефона</th>
            <th>Тип клиента</th>
        </tr>
         {% for el in clientInfo %}
            <tr>
                <td>{{ el.address }}</td>
                <td>{{ el.age }}</td>
                <td>{{ el.phoneNumber }}</td>
                <td>{{ el.clientType }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


