{% extends 'main/layout.html' %}

{% block title %}Лаба номер 7{% endblock %}

{% block content %}
    <div class="features">
        <h1>Что это тут вообще такое?</h1>
        <p>Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то
            текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст
            Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст </p>
    </div>
{% endblock %}
