{% extends 'main/layout.html' %}

{% block title %}Table1{% endblock %}

{% block content %}
    <div class="features">
        <h1>История обращений</h1>
    </div>
    <table border="1">
        <tr>
            <th>ФИО</th>
            <th>Дата</th>
            <th>Текст</th>
            <th>id клиента</th>
            <th>id банка</th>
        </tr>
         {% for el in table1 %}
            <tr>
                <td>{{ el.fio }}</td>
                <td>{{ el.date }}</td>
                <td>{{ el.text }}</td>
                <td>{{ el.clientId }}</td>
                <td>{{ el.bankId }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


