{% extends 'main/layout.html' %}

{% block title %}Table1{% endblock %}

{% block content %}
    <div class="features">
        <h1>Таблица 1</h1>
<!--        <p>Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то-->
<!--            текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст-->
<!--            Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст </p>-->
    </div>
    <table border="1">
        <tr>
            <th>ФИО</th>
            <th>Дата</th>
            <th>Текст</th>
        </tr>
         {% for el in table1 %}
            <tr>
                <td>{{ el.fio }}</td>
                <td>{{ el.date }}</td>
                <td>{{ el.text }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


