{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Лаба 7{% endblock %}

{% block content %}
    <div class="features">
        <h1>Таблица</h1>
    </div>
    <table border="1">
        <tr>
            {% for name in names %}
            <td>{{ name }}</td>
            {% endfor %}
            <td>Изменить</td>
            <td>Удалить</td>
        </tr>
            {% for t in table %}
            <tr>
                {% for k, v in t.items %}
                <td> {{v}} </td>
                {% endfor %}
                <td><a href="{% url 'table_change' idx=table_id el=t.id command='edit' %}" id="btn1"><img id="edit" src="{% static 'main/img/edit.png' %}" alt=""></a></td>
                <td><a id="btn2"><img id="delete" src="{% static 'main/img/delete.png' %}" alt="Кнопка «button»"></a></td>
            </tr>
            {% endfor %}

    </table>

    <div class="center">
    <button class="btn3">Добавить</button>
    </div>
{% endblock %}