{% extends 'main/layout.html' %}

{% block title %}Table1{% endblock %}

{% block content %}
    <div class="features">
        <h1>Таблица 1</h1>
        <p>Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то
            текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст
            Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст Какой-то текст </p>
    </div>
{% endblock %}
