{% extends 'main/layout.html' %}

{% block title %}Лаба номер 7{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p style="color: #C7C7C7"> Это лаба 7, тут нужно сделать следующее<br><br>
            Для предложенного варианта заданий необходимо реализовать веб-сайт в среде Django, удовлетворяющий следующим требованиям:<br>
            <p style="color: #51b854"> 1. Количество таблиц в БД - не менее 5. Таблицы должны быть спроектированы в соответствии с тремя нормальными формами. </p><br>
            <p style="color: #51b854"> 2. Должны быть реализованы 3 типа связей: one-to-one, one-to-many, man-to-many.</p><br>
            <p style="color: #51b854"> 3. Таблицы создаются с использованием моделей в Django и миграций.</p><br>
            <p style="color: #51b854"> 4. Как минимум, для 1 сущности должны быть реализованы CRUD операции (Create, read, update, delete) + представление списка сущностей.</p><br>
            <p style="color: #51b854"> 5. Остальные таблицы должны быть доступны для редактирования в административной части сайта.</p><br>
            <p style="color: #51b854"> 6. Необходимые пять таблиц должны быть разработаны для моделирования предметной области, заданной вариантом. Необходимо придумать эти таблицы, не забывая про здравый смысл.</p><br>
        </p>
    </div>
    <div class="features">
        <h1>А что это такое?</h1>
        <p>
            <p style="color: #C7C7C7">Ну а это лаба 8, тут необходимо модифицировать лабораторную работу №7:</p>
            <p style="color: #51b854">1. Добавить средства редактирования для ВСЕХ сущностей.</p>
            <p style="color: #51b854">2. Добавить минимум 2 роли, соответствующих реальным ролям в выбранной предметной области. Добавить пользователей, обладающих этими ролями.</p>
            <p style="color: #51b854">3. Реализовать средства регистрации пользователей, аутенфикации.</p>
            <p style="color: #51b854">4. Добавить средства авторизации и разграничения прав доступа разным ролям к разным сущностям.</p>
        </p>
    </div>
{% endblock %}
