
aside {
    float: left;
    background: #FFFDFD;
    width: 21%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #fff
}

aside img {
    width: 15vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

aside h3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

aside ul {
    list-style: none
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 10px;
    transition: all .2s ease;
}

aside ul li, aside ul a {
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover {
    transform: scale(1.05);
    color: #F57268
}

main .features h1 {
    float: left;
    color: #fff
    margin-top: 10px;
    text-align: center;
    width: 75%;
}

.features p {
    float: left;
    color: #fff
    margin-top: 10px;
    margin-left: 50px;
    width: 75%;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 8px solid #ECE9E0;
    border-radius: 20px;
}

table th {
    font-size: 18px;
    padding: 10px;
}

table td {
    background: #F5D7BF;
    padding: 10px;
    text-align:center
}

#edit {
    width: 35px;
    display: block;
}

#delete {
    width: 30px;
    display: block;
}

#btn1 {
    background: transparent;
    border: 0px
}

#btn2 {
    background: transparent;
    border: 0px
}

.center {
    margin-top: 30px;
    text-align: center;
}

#btn3 {
    color: white;
    text-decoration: none;
}

.form {
    text-align: center
}